
.about_slog {
	background-color: #FA9F5E;
	color: #FFF4D9;
	border-radius: 0 50px 50px 0;
	font-style: italic;
	font-weight: 500;
	font-size: 32px;
	padding: 10px 50px 15px 90px;
}

.about_slog_inv {
	background-color: #4B2D10;
}