
header {
	padding-top: 25px;
	display: flex;
	justify-content: space-around;
	/* justify-content: space-between; */
	align-items: center;
	font-weight: bold;
	font-size: 1.2rem;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
		padding: 20;
	}
}

@media (max-width: 480px) {
	header {
		padding: 10px;
		flex-direction: column;
	}
}
