.h_lang {
  border-radius: 50px;
  background-color: #bb8d6c;
  color: #fff4d9;
  padding: 25px 40px;
  border: none;
}

@media (max-width: 768px) {
  .h_lang {
    margin: 20px 0;
    width: auto;
    justify-content: center;
    display: none;
  }
}

@media (max-width: 480px) {
  .h_lang {
    width: auto;
    padding: 5px;
    margin: 10px auto;
  }
}
