
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 180px;
}

footer h1 {
	font-family: 'Junegull-Regular';
	color: #8E3B00;
	margin: 0;
	font-size: 100px;
	padding-bottom: 80px;
}

footer h3 {
	font-family: 'Alegreya Sans';
	font-size: 36px;
	color: #8E3B00;
	margin: 0;
	padding-bottom: 60px;
}