
.h_text {
	display: flex;
	justify-content: center;
	margin-right: 30px;
	margin-top: 20px;
	font-size: 24px;
}

@media (max-width: 768px) {
	.h_text {
		margin: 10px 0;
		text-align: center;
	}
}

@media (max-width: 480px) {
	.h_text {
		margin: 10px 0;
		font-size: 1rem;
	}
}